.form {
    display: grid;
    grid-template-columns: 1fr 100px;
    column-gap: 10px;
}

.form__input {
    padding: 10px;
    border: 1px solid #ccc;
}

.form__button {
    background-color: teal;
    color: #fff;
    border: 0px;
}

.form__button:hover {
    background-color: hsl(180, 100%, 35%);
    outline: 0px;
}

.form__button:active {
    background-color: hsl(180, 100%, 45%);
}